<footer class="page-footer container-fluid">
    <div class="container text-center bg-secondary">
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                    <a class="li-ic" href="https://github.com/len0rd">
                        <i class="fab fa-github white-text fa-2x" style="color:white"></i>
                    </a>
                    <a class="li-ic" href="https://www.youtube.com/channel/UCwGDckTCkqqW5W8JcRrxELA">
                        <i class="fab fa-youtube fa-lg white-text fa-2x" style="color:white"></i>
                    </a>
                    <a class="li-ic" href="/contact">
                        <i class="fas fa-at fa-lg white-text fa-2x" style="color:white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center text-white bg-dark py-3">len0rdsNet 2018</div>
</footer>