<!-- you may need to remove 'fixed-bottom' if the footer is persisting on scroll-->
<footer class="footer bg-black">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="flex-center py-1">
                    <a class="li-ic icon-footer" style="color:black" href="https://github.com/len0rd">
                        <i class="fab fa-github fa-lg" style="color:white"></i>
                    </a>
                    <a class="li-ic icon-footer" style="color:black" href="https://www.youtube.com/channel/UCwGDckTCkqqW5W8JcRrxELA">
                        <i class="fab fa-youtube fa-lg" style="color:white"></i>
                    </a>
                    <a class="li-ic icon-footer" href="/contact">
                        <i class="fas fa-at fa-lg" style="color:white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <div class="footer-copyright text-center text-white">&copy; lenordsNet <%= new Date().getFullYear();%></div>
            </div>
        </div>
    </div>

</footer>
