<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../../partials/include %>
</head>

<body>
	<header>
		<% include ../../partials/nav %>
	</header>

	<div class="container">
		<% include(page) %>
	</div>

	<% include ../../partials/footer %>
	<% include ../../partials/post_html_include %>
</body>
</html>