sphinx
ablog
sphinx-design
sphinxcontrib-youtube
pydata-sphinx-theme
# for bitfield diagram generation (with latex support)
# installing from a commit on master since recently merged fixes have not been made into a versioned release yet
https://github.com/Arth-ur/sphinxcontrib-bitfield/archive/e1bf4809d024597919cd99820d48e626bc1fce3c.zip
