.img-jumbotron {
    background-image: url("../img/logo.jpg");
    background-size: cover;
    height: 50vh;
}

.page-footer {
    padding-right: 0px;
    padding-left: 0px;
}

.icon-footer {
    padding: 5px;
}