.icon-footer {
	padding: 2%;
	padding: 2vh;
}

.bgimage {
	width: 100%;
	height: 100vh;
	background: url('../img/logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.bgimage h1 {
	color: white;
	text-shadow: 2px 2px #333;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.navbar-transparent {
	background-color: transparent;
	border-color: rgba(255, 255, 255, 0.4);
}

.cenMain {
	padding-top: 40%;
	padding-bottom: 40%;
	padding-top: 40vh;
	padding-bottom: 40vh;
	width: 60%;
	margin: auto;
}

.container-cenMain {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.topMargin {
	padding-top: 5%;
	padding-top: 5vh;
	width: 60%;
	margin: auto;
}

.code {
	background-color: #161038;
}

.card-soft-link {
	color: #5AB2DA;
	padding-left: 2%;
}

.card-homepage {
	background-color: rgba(0, 0, 0, 0.1) !important;
	padding: 2%;
	height: 100%;
}
