<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/include') %>
</head>

<body class="d-flex flex-column min-vh-100">
	<header>
		<%- include('../partials/nav') %>
	</header>

	<div class="container mt-5 topMargin">
			<h1>Contact me</h1>
			<p>Questions? Comments? Spam? Please email me with the below address:</p>
			<h4>len0rd"AT"fastmail.co.uk</h4>
	</div>

	<%- include('../partials/footer') %>
	<%- include('../partials/post_html_include') %>
</body>

</html>
