<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/include %>
</head>

<body>
	<header>
		<% include ../partials/nav %>
	</header>

	<div class="container-cenMain">
		<div class="cenMain">
			<h1>Contact me</h1>
			<p>As a lonly explorer of the interwebs, I welcome the warm embrace of human contact. Please email me with the below address:</p>
			<h2>contact@lenord.me</h2>
		</div>
	</div>

	<% include ../partials/footer %>
	<% include ../partials/post_html_include %>
</body>

</html>