<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/include %>
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>

    <main role="main">

        <section class="bgimage">
            <div class="container center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="display-1">welcome to lenordsNet</h1>
                        <h3 class="text-white">i dont know what im doing</h3>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-flex code">
            <div class="container">
                <div class="row text-white pb-5 pt-5">
                    <div class="col-4 pr-5 d-flex">
                        <samp class="display-1 ml-auto">></samp>
                    </div>
                    <div class="col-8">
                        <samp>I'm an American Computer Engineering student with diverse industry experience. From large commercial Java projects to low-level C firmware development, I've done a little bit of everything (except web development as will be evident with this website). Such experience allows me to understand and solve new problems quickly. My hobbies are just as eclectic as my professional experience. This website showcases many of my personal projects.</samp>
                    </div>
                </div>
            </div>
            <div class="container pb-5 pt-5">
                <div class="card-columns">
                    <div class="card bg-dark border-light text-white">
                        <div class="card-body">
                            <h5 class="card-title">Yama Crawler</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Selenium-Based Web Crawler</h6>
                            <p class="card-text">Yama is a powerful developer-friendly web crawler/scraper built with Selenium and Java. Built from the ground up by yours truly.</p>
                        </div>
                        <div class="card-footer pb-3">
                            <a href="#" class="btn btn-outline-light">Read More</a>
                            <a href="https://github.com/len0rd/YamaCrawler" class="card-link card-soft-link">See Code</a>
                        </div>
                    </div>
                    <div class="card bg-dark border-light text-white">
                        <div class="card-body">
                            <h5 class="card-title">Repley</h5>
                            <h6 class="card-subtitle mb-2 text-muted">The Tomcat - ChartJS crossover nobody asked for</h6>
                            <p class="card-text">If you only have a hammer, everything looks like a nail. Repley combines Apache Tomcat and ChartJS to make dynamic database chart generation as easy as editing a JSON file.</p>
                        </div>
                        <div class="card-footer pb-3">
                            <a href="#" class="btn btn-outline-light">Read More</a>
                            <a href="https://github.com/len0rd/Repley" class="card-link card-soft-link">See Code</a>
                        </div>
                    </div>
                    <div class="card bg-dark border-light text-white">
                        <div class="card-body">
                            <h5 class="card-title">Darkstar</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Why buy a quad when you can build it</h6>
                            <p class="card-text">Darkstar is my first foray into building my own drone. I used a mixture of open source software and some of my own stuff to get the hunk of junk into the air </p>
                        </div>
                        <div class="card-footer pb-3">
                            <a href="projects/darkstar" class="btn btn-outline-light">Read More</a>
                            <a href="https://github.com/len0rd/darkstar_copter" class="card-link card-soft-link">See Code</a>
                        </div>
                    </div>
                    <div class="card bg-dark border-light text-white">
                        <div class="card-body">
                            <h5 class="card-title">Pallet Desk</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Reliable and cheap desk</h6>
                            <p class="card-text">Building my dream desk on a poor-college-student budget. The end result: a portable and rock solid desk with a couple of flaws</p>
                        </div>
                        <div class="card-footer pb-3">
                            <a href="projects/palletDesk" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                    <div class="card bg-dark border-light text-white">
                        <div class="card-body">
                            <h5 class="card-title">My Website</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Is this meta</h6>
                            <p class="card-text">A post on my website about how I built my website? Yep. Turns out things aren't quite plug 'n play when you're a stubborn engineer who wants something to function in a very specific way</p>
                        </div>
                        <div class="card-footer pb-3">
                            <a href="#" class="btn btn-outline-light">Read More</a>
                            <a href="https://github.com/len0rd/personal-website" class="card-link card-soft-link">See Code</a>
                        </div>
                    </div>

                    <div class="card bg-dark border-light text-white">
                        <div class="card-body">
                            <h5 class="card-title">LS-1 Synth</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Music to my ears</h6>
                            <p class="card-text">I find that I learn best by doing. So when I starting considering getting into the <i>extremely</i> expensive hobby of analog modular synths, I figured the best way to start would be to build my own. The results aren't terribly impressive, but helped me learn a whole ton along the way</p>
                        </div>
                        <div class="card-footer pb-3">
                            <a href="projects/ls1synth" class="btn btn-outline-light">Read More</a>
                            <a href="https://github.com/len0rd/LS1-sequencer" class="card-link card-soft-link">See Code</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
    </main>

    <% include ../partials/footer %>
    <% include ../partials/post_html_include %>
</body>
</html>