<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/include %>
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>

    <main role="main">

        <section class="bgimage">
            <div class="container center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="display-1">welcome to lenordsNet</h1>
                        <h3 class="text-white">fake it til you make it</h3>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-flex">
            <div class="row code pb-5 pt-5">
                <div class="container text-white">
                    <div class="row">
                        <div class="col-4 pr-5 d-flex">
                            <samp class="display-1 ml-auto">></samp>
                        </div>
                        <div class="col-8">
                            <samp>No, my name is not Lenord, but I do enjoy minor internet anonymity, hence the screen name. I'm a Computer Engineering student with diverse industry experience. From large commercial Java projects to low-level C firmware development, I've done a little bit of everything (except web development as will be evident with this website). Such experience allows me to understand and solve new problems quickly. My hobbies are just as eclectic as my professional experience. This website showcases many of my personal projects.</samp>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row code pt-5 pb-5">
                <div class="container">
                    <div class="card-deck">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <h5 class="card-title">Yama Crawler</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Selenium-Based Web Crawler</h6>
                                <p class="card-text">Yama is a powerful developer-friendly web crawler/scraper built with Selenium and Java. Built from the ground up by yours truly.</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://github.com/len0rd/YamaCrawler" class="card-link">See Code</a>
                                <a href="#" class="btn btn-outline-light">Read More</a>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <h5 class="card-title">Repley</h5>
                                <h6 class="card-subtitle mb-2 text-muted">The Tomcat - ChartJS crossover nobody asked for</h6>
                                <p class="card-text">If you only have a hammer, everything looks like a nail. Repley combines Apache Tomcat and ChartJS to make dynamic database chart generation as easy as editing a JSON file.</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://github.com/len0rd/Repley" class="card-link">See Code</a>
                                <a href="#" class="btn btn-outline-light">Read More</a>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <h5 class="card-title">Darkstar</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Why buy a quad when you can build it</h6>
                                <p class="card-text">Tbh, idk what other project to put here, we'll have to figure it our later</p>
                            </div>
                            <div class="card-footer">
                                <a href="https://github.com/len0rd/Repley" class="card-link text-yellow bottom">See Code</a>
                                <a href="#" class="btn btn-outline-light">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </main>

    <% include ../partials/footer %>
    <% include ../partials/post_html_include %>
</body>
</html>