<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/include' ) %>
        <link rel="stylesheet" type="text/css" href="/css/projects.css">
</head>

<body>
    <header>
        <%- include('../partials/nav') %>
    </header>

    <div class="container mt-5 topMargin">
        <h1>Recipes</h1>
        <div class="list-group">
            <a href="recipes/chocolateChipCookies" class="list-group-item list-group-item-action">Chocolate Chip Cookies</a>
            <a href="recipes/pizzaDough" class="list-group-item list-group-item-action">Pizza Dough</a>
            <a href="recipes/bananaBread" class="list-group-item list-group-item-action">Banana Bread</a>
            <a href="recipes/cinnamonRolls" class="list-group-item list-group-item-action">Cinnamon Rolls</a>
        </div>
    </div>

    <%- include('../partials/post_html_include') %>
</body>

</html>
