<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/include' ) %>
        <link rel="stylesheet" type="text/css" href="/css/projects.css">
</head>

<body>
    <header>
        <%- include('../partials/nav') %>
    </header>

    <div class="container mt-5">
        <div class="topMargin">
            <h1>Recipes</h1>
            <div class="list-group">
                <a href="recipes/chocolateChipCookies" class="list-group-item list-group-item-action">Chocolate Chip Cookies</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </div>
        </div>
    </div>

    <%- include('../partials/post_html_include') %>
</body>

</html>
